*.iml
*.xml
!pom.xml
*.class
*.jar
*.properties
*.lst
*.txt
*.exe
*.meta
*.bin
*.lock
*.html
*.css
*.MF
*.js
*.idx
*.kotlin_module

!TickTackToe/gradle/wrapper/gradle-wrapper.jar
!TickTackToe/gradle/wrapper/gradle-wrapper.properties