*.iml
*.xml
!pom.xml
*.class
*.lst
*.txt
*.jar
*.properties
*.exe
*.meta
*.bin
*.lock
*.html
*.css
*.js
*.idx
*.MF
*.kotlin_module
Cannon/gradlew
Cannon/gradlew.bat
TickTackToe/gradlew
TickTackToe/gradlew.bat

!FTP_UI/gradle/wrapper/*